.landingpage::before {
   content: '';
   position: absolute;
   width: 123px;
   height: 123px;
   left: 60%;
   top: 138px;
   filter: blur(90px);
   background-color: #fb37ff;
}

.landingpage::after {
   content: '';
   position: absolute;
   width: 123px;
   height: 123px;
   left: 80%;
   top: 550px;
   background-color: #18b2de;
   filter: blur(80px);
}
